body{
    background: #FFF;
}

.container{
    width: 60%;
    margin: auto;
}

.clearfix{
    clear: both;
}

/* start navbar */

.navbar{
    overflow: hidden;
    height: 100px;
    background-color: #FFF;
}

.navbar .logo{
    float: left;
    width: 25%;
}

.navbar .global{
    float: right;
    width: 50%;
}

.navbar .global {
    overflow: hidden;
}

.navbar ul{
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.navbar ul.first-list, .navbar ul.second-list{
    float: right;
}

.navbar ul li{
    float: left;
    text-transform: uppercase;
}

.navbar ul.first-list{
    margin-right: 20px;
}

.navbar ul.first-list li{
    font-size: 8px;
    font-weight: bold;
    background-color: #ffd800;
    padding: 5px 14px;
}

.navbar ul.first-list li.lang{
    background-color: #00cda9;
}


.navbar ul.first-list li a{
    text-decoration: none;
    color: #000;
}

.navbar ul.second-list li{
    padding: 20px;
}

.navbar ul.second-list li a{
    text-decoration: none;
    color: #000;
}

.navbar ul.second-list li a.active{
    color: #0F0;
}

/* end navbar */


/* start header */

.header{
    height: 600px;
    background-image: url('../images/beach.jpg');
    background-size: cover;
    text-align: center;
}

.header .header-content{
    padding: 220px 0;
    
}

.header .header-content h1{
    text-transform: uppercase;
    color: #FFF;
}

.header .header-content button{
    border: none;
    background-color: #00cda9;
    border-radius: 25px;
    padding: 10px 25px;
    color: #FFF;
    cursor: pointer;
}

/* end header */

.article{
    overflow: hidden;
    min-height: 427px;
}

.article .image{
    width: 50%;
    height: 100%;
}

.article .content{
    width: 40%;
}

.article .image img{
    width: 100%;
}

.article .content{
    padding: 5% 5% 0% 5%;
}

.article .content .article-header{
    overflow: hidden;
    height: 50px;
    margin-bottom: 11px;
}


.article .content .article-header span{
    display: block;
    height: 100%;
    width: 7%;
    float: left;
    margin-right: 5px;
    text-align: center;
    padding: 4px 0;
}


.article .content .article-header span i{
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #fff;
    padding-top: 2px;
    border: 0;
    padding: 10px;
    border-radius: 50%;
}

.article .content .article-header h2{
    float: left;
    margin-block-start: 0;
    margin-block-end: 0;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.article .content p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 40px;

}

/* */

/* my framework */
.flt-left{
    float: left;
}


.blue-background-color{
    background-color: #524b8e !important;
}

.blue-color{
    color: #524b8e !important;
}

.orange-background-color{
    background-color: #f36442 !important;
}

.orange-color{
    color: #f36442 !important;
}

.green-background-color{
    background-color: #00cda9;
}

.green-color{
    color: #00cda9;
}

.yellow-background-color{
    background-color: #ffd800;
}

.yellow-color{
    color: #ffd800;
}

.first-article-width{
    width: 40%;
}

.second-article-width{
    width: 30%;
}

/* start inscription */

.inscription{
    
    padding: 20px 0;
    text-align: center;
    background-color: #ffd800;
}

.inscription h2{
    display: inline;
    font-weight: 500;
    margin-right: 50px;
    word-spacing: 6px;
}

.inscription h2 span{
    color: #00cea7;
}

.inscription input[type="text"]{
    border: 1px solid #00cea7;
    padding: 5px 10px;
    width: 300px;
}

.inscription button{
    border: none;
    background-color: #00cda9;
    padding: 5px 14px;
    color: #FFF;
    cursor: pointer;
    margin-left: -4px;
    height: 100%;
}

/* end inscription */

/* start footer */

.footer{
    height: 300px;
    background-color: #524b8e;
}


.footer h5{
    margin-block-start: 0;
    margin-block-end: 0;
}


/* end footer */